<head>
    <title>Welcome</title>
</head>
<div class="container">
    <br>
    <h1 class="display-3" style="font-weight: 400;">Welcome to <br> Online Test Management System</h1>
    <br><br>
    <div class="buttons">
        <button type="button" class="btn btn-primary btn-lg "  routerLink="/getlogin" >Login</button>
        <button type="button" class="btn btn-info btn-lg "  style="float: right;" routerLink="/register" >Sign Up</button>
    </div>
    <br>
    <p>This is the project for Object Oriented Analysis and Design Subject.</p>
    <br><br><br>
    <footer style="font-size: 10px;">
        <p>Project By</p>
        <p>Aditya Thaokar<br>Vishal John Varghese<br>Akalankam Sai Teja<br>Aditya Rokade<br>Shahid Nazir Shah<br>Atul</p>
    </footer>
</div>

